::-webkit-scrollbar {
  height: .5vh;
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0; 
}
body, html {
  background-color: black;
  margin: 0;
  padding: 0;
}
*{
  border-radius: .25vw;
  outline: none;
  line-height: 1.2;
  font-size: 1.5vh;
  color: #ddd;
  font-family: Consolas, monaco, monospace;
  margin: 0;
  border: none;
}
*::selection { color:black; background: white; }
#syntax {
  position: fixed;
  tab-size: 4;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  bottom: 0;
  height: 92vh;
  resize: none;
  overflow-wrap: unset;
  width: 48vw;
  color: white;
}
.color {
  display: inline;
}
#code {
  outline: none;
  position: fixed;
  tab-size: 4;
  background-color: #111;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 0;
  bottom: 0;
  height: 92vh;
  resize: none;
  overflow-x: scroll;
  width: 48vw;
  color: white;
  mix-blend-mode: multiply;
}
#terminal {
  position: fixed;
  right:0;
  border-style: inset; 
  border:none;
  bottom: 0;
  border-bottom: 1vw #222 solid;
  width: 47vw;
  float: left;
}
#terminal-in {
  background-color: #383838;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: .5vh;
  padding-bottom: .5vh;
  width: 45vw;
}
.command {
  background-color: #555;
  color: white;
  overflow-wrap: break-word;
  padding: 1%;
  margin-top: 1%;
  box-shadow: 2px;
  animation-name: change;
  animation-duration: 1s;
}
@keyframes change {
  from {color: orange;}
  to {color: white;}
}
#terminal-out {
  background-color: #1a1a1a;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow-y: scroll;
  height: 88vh;
  width: 45vw;
}
#lineCount {
  user-select: none;
  background-color: #333;
  line-height: 1.2;
  margin-top: .5vh; 
  padding-top: .5vh;
  padding-bottom: .4vh;
  padding-left: .5vw;
  position: fixed;
  border-right: 2px #333 solid;
  width: 20px;
}
#tabs{
  z-index: 100;
  background-color: #444;
  height: 3vh;
  width:100vw;
  position: fixed;
  top:3vh;
}
#tabsRight{
  display: block;
  float: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 47%;
}
#tabsLeft{
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  height: 100%;
  width: 53%; 
}
.tab{
  background-color: #1a1a1a;
  width: 15%;
  padding: .7vh;
  text-align: center;
  overflow-x: hidden;
  display: block;
  float: left;
}
#top{
 -webkit-app-region: drag;
  z-index: 100;
  background-color: #222;
  height: 3vh;
  width:100vw;
  position: fixed;
  top:0;
}
#title {
  padding-left: 1%;
  font-size: 2.5vh;
  display: inline;
  position: relative;
  text-align: center;
  width: 10%;
  color: orange;
}
.windowManipulator{
  -webkit-transition: all .5s ease-out;
  -webkit-app-region: no-drag;
  padding:0;
  background-color: #000;
  float: right;
  position: relative;
  height: 100%;
  width: 2.5vw;
  color: orange;
  text-align: center;
  font-size: 2vh;
}
.windowManipulator:hover{
  background-color: #333; 
}